:root{
    /* COLORES */
    --primary-color: #3B4050;
    --primary-color-dark: #2E323F;
    --secondary-color: #e2e2e2;
    --secondary-color-text: rgb(219, 219, 219);
    --secondary-color-dark: #6F737F;
    --tertiary-color: #A59678;
    --white: #fff;

    /*  TIPOGRAFIAS
            font-family: 'Oswald', sans-serif;
            font-family: 'Roboto', sans-serif; 
    */
    
    --titles: 'Oswald', sans-serif;
    --paragraphs: 'Roboto', sans-serif;
}

/* 
    To add a color from the root
    background: var('variable name');
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img{
   max-width: 100%;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    font-family: var(--titles)
}

/* Add this in the media querie
.row{
    display: flex;
}
*/

header{
    background: var(--primary-color-dark);
    padding: 1.5em;
    
}

a{
    text-decoration: none;
    color: white;
}

/*TODO: Make the nav or try doing it
    Home    About
    Contact Sign In
        Sign Up
*/
.nav{
    text-align: center;
}

.nav__list{
    list-style: none;
}

.nav__item a{
    color: var(--white);
    font-size: 1.5rem;
}

.nav__item a:hover{
    opacity: 0.75;
}

.container__logo{
    margin: 0 auto;
    text-align: center;
}

h1{
    color: white;
}

p{
    line-height: 1.7rem;
}

.hero{
    background: var(--primary-color);
}

.hero__title__brown{
    color: var(--tertiary-color);
}

.hero__title{
    font-size: 1.5rem;
}

.hero__title,
.hero__sub--content{
    padding: 1em 1em 0 1em;
    text-align: center;
    color: white;
}

.hero__sub--content{
    font-family: var(--paragraphs);
}

.hero__btn{
    text-decoration: none;
    padding: 0.6em;
    margin: 1em;
    width: 60%;
    max-width: 250px;
    border-radius: 16px;
    border: none;
    background: var(--tertiary-color);
}

.hero__btn:hover{
    opacity: 0.75;
}

.hero__btn a{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-stretch: condensed;
    font-family: var(--titles);
    font-size: 1.1rem;
}


.content__advantages{
    background: var(--secondary-color);
    text-align: center;
}

.content__advantages .container{
    padding: 1.5em 1.5em 1.5em 1.5em;
}

.content__advantages p{
    font-family: var(--paragraphs);
    color: rgb(56, 56, 56);
    text-align: justify;
    margin: 1em 0em;
}

.main__content{
    padding: 1.5em 1.5em 0em 1.5em;
}

.main__content p{
    font-family: var(--paragraphs);
}

.main__content h2,img,p{
   margin-bottom: 1em;
}

.sidebar{
    padding: 1em 1.5em 1.5em 1.5em;
}

.content__block{
    background: var(--primary-color-dark);
    padding: 1em;
    color: white;
    margin-bottom: 1em;
    text-align: center;
}

.content__block p{
    margin-top: 1em;
    font-family: var(--paragraphs);
}

footer{
    background: var(--primary-color);
}

footer h2{
    color: white;
}

footer p{
    color: var(--secondary-color-text);
    font-family: var(--paragraphs);
}

.footer__title,
.footer__info{
    padding: 1em 1.5em;
}

.footer__title{
    text-align: center;
    font-size: 2rem;
}

.footer__info h4{
    text-align: center;
    font-size: 1.3125rem;
    margin-bottom: 1em;
}

.first__flex__element{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 700px){
    .hero{
        padding: 3em;
    }

    .hero__title{
        padding: 0;
    }

    .hero__flex{
        display: flex;
        justify-content: space-between;
        max-width: 925px;
        margin: 0 auto;
    }

    .hero__btn{
        margin-top: 0;
    }

    .content__flex .row{
        display: flex;
    }

    .content__advantages .col{
        margin: 0em 1em;
    }

    .sidebar{
        display: flex;
    }

    .second__block__space{
        margin: 0em 1em 1em 1em;
    }

    .footer__title{
        padding-bottom: 0.5em;
    }

    .first__flex__element{
        justify-content: space-evenly;
    }

    .wrapper__flex__element{
        display: flex;
        justify-content: space-evenly;
    }

    .first__flex__element .center__p__left{
        padding-left: 3em;
    }

    .first__flex__element .center__p__right{
        padding-right: 3em;
    }
}


@media (min-width: 1000px){

}